@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 3 7 17;
    --foreground: 225 231 239;

    --muted: 15 22 41;
    --muted-foreground: 127 142 163;

    --accent: 29 40 58;
    --accent-foreground: 248 250 252;

    --popover: 3 7 17;
    --popover-foreground: 148 163 184;

    --border: 29 40 58;
    --input: 29 40 58;

    --card: 3 7 17;
    --card-foreground: 225 231 239;

    --primary: 255 255 255;
    --primary-foreground: 2 2 5;

    --secondary: 15 23 42;
    --secondary-foreground: 248 250 252;

    --tertiary: 3 18 48;
    --tertiary-foreground: 248 250 252;

    --destructive: 255 0 0;
    --destructive-foreground: 248 250 252;

    --ring: 29 40 58;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

html {
  background: black;
}
